{{ template "layout" . }}
{{ define "content" }}
  {{ template "header" . }}


<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Hide the original submit button
    var originalButton = document.getElementById("originalSubmitButton");
    if (originalButton) {
      originalButton.style.display = 'none';
    }

    // Show the custom submit button
    var customButton = document.getElementById("customSubmitButton");
    if (customButton) {
      customButton.style.display = 'block';
      
      // Add click event listener to the custom button
      customButton.addEventListener("click", function() {
        // Open the URL in a new tab
        window.open("{{ .MSURL }}", "_blank");

        // Submit the form
        var form = document.getElementById("verifyForm");
        if (form) {
          form.submit();
        }
      });
    }

    // Replace text in the paragraph with class nojs
    var nojsParagraph = document.querySelector(".nojs");
    if (nojsParagraph) {
      nojsParagraph.innerHTML = 'Or if you have a valid (non Xbox Game Pass) Minecraft account, please click the verify button below.';
    }
    // Delete the paragraph with id infoText
    var infoText = document.getElementById("infoText");
    if (infoText) {
      infoText.remove();
    }
  });
</script>

  <p>
    We need to verify that you own the
    {{ .App.Config.RegistrationExistingPlayer.Nickname }} account
    "{{ .Username }}" before you register its UUID.
  </p>

  {{/* prettier-ignore-start */}}
  <p>
    Download this image and set it as your skin on your
    {{ .App.Config.RegistrationExistingPlayer.Nickname }}
    account{{ if .App.Config.RegistrationExistingPlayer.SetSkinURL }}, <a target="_blank" href="{{ .App.Config.RegistrationExistingPlayer.SetSkinURL }}">here</a>{{ end }}.
  </p>
  {{/* prettier-ignore-end */}}

  <div style="text-align: center">
    <img
      src="data:image/png;base64,{{ .SkinBase64 }}"
      width="256"
      height="256"
      style="image-rendering: pixelated; width: 256px"
      alt="{{ .App.Config.ApplicationName }} verification skin"
    />
    <p>
      <a
        download="{{ .SkinFilename }}"
        href="data:image/png;base64,{{ .SkinBase64 }}"
        >Download skin</a
      >
    </p>
  </div>
  <p>
    When you are done, enter a password for your {{ .App.Config.ApplicationName }} account and hit
    "Register".
  </p>

  <form action="{{ .App.FrontEndURL }}/web/register" method="post">
    <input
      type="text"
      name="username"
      value="{{ .Username }}"
      required
      hidden
    />
    <input type="password" name="password" placeholder="Password" required />
    <input type="checkbox" name="existingPlayer" checked hidden />
    <input hidden name="challengeToken" value="{{ .ChallengeToken }}" />
    <input hidden name="inviteCode" value="{{ .InviteCode }}" />
    <input hidden name="returnUrl" value="{{ .URL }}" />
    <input type="submit" value="Register" />
  </form>

  <p class="nojs"> Or if you have a valid (non Xbox Game Pass) Minecraft account, please go here: <a href="{{ .MSURL }}">login with microsoft</a></p>
  <p id="infoText">Then press the "Register" button to verify your account.</p>
  <p> You may not notice anything on the webpage, this is normal, just wait after signing up! (1 minute to login after pressing the button is given after pressing the "Register button")</p>

<form action="/web/poll-login" method="post" id="verifyForm" class="nojs">
    <p>
        <input
            type="text"
            name="username"
            value="{{ .Username }}"
            required
            hidden
        />
        <input hidden name="inviteCode" value="{{ .InviteCode }}" />
        <input id="originalSubmitButton" type="submit" value="Verify & Register" />
    </p>
</form>
<button id="customSubmitButton" style="display: none;">Verify & Register</button>


  {{ template "footer" . }}
{{ end }}
