{{ template "layout" . }}
{{ define "content" }}
  {{ template "header" . }}

  <p>
   Successfully verified your 
    {{ .App.Config.RegistrationExistingPlayer.Nickname }} account
    "{{ .Username }}".
  </p>

  <p>
  Put the password and press the Register button below to register and redirect to the login page
  </p>

  <form action="{{ .App.FrontEndURL }}/web/register" method="post">
    <input
      type="text"
      name="username"
      value="{{ .Username }}"
      required
      hidden
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      minlength="{{ .App.Config.MinPasswordLength }}"
      class="long"
      required
    />
    <input type="checkbox" name="existingPlayer" checked hidden />
    <input hidden name="proof" value="{{ .Proof }}" />
    <input hidden name="inviteCode" value="{{ .InviteCode }}" />
    <input hidden name="returnUrl" value="{{ .URL }}" />
    <input type="submit" value="Register" />
  </form>

  {{ template "footer" . }}
{{ end }}
